<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đăng ký</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form> 
        <h1> Welcome guest </h1>
        <label> họ và tên </label>
        <input type="text" name="HoTen" value="">
        <br>
        <label> tên đăng nhập </label>
        <input type="text" name="Username" value="">
        <br>
        <label> email của bạn</label>
        <input type="text" name="Email" value="">
        <br>
        <label> nhập mã của bạn</label>
        <input type="password" name="Password" value="">
        <br>
        <input type="submit" name="" value="submit">
    </form>
</body>
</html>